# -- VS Code --
.DS_Store
Thumbs.db
.vscode/
*.code-workspace

# -- Environment Variables --
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.bak

# -- Frontend --
node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# -- Backend --
/backend/bin/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/vendor/
backend/go.work